@font-face { font-family: 'Source Sans Pro'; font-weight: 200; src: url('../fonts/SourceSansPro-ExtraLight.otf'); }
@font-face { font-family: 'Source Sans Pro'; font-weight: 300; src: url('../fonts/SourceSansPro-Light.otf'); }
@font-face { font-family: 'Source Sans Pro'; font-weight: 400; src: url('../fonts/SourceSansPro-Regular.otf'); }
@font-face { font-family: 'Source Sans Pro'; font-weight: 600; src: url('../fonts/SourceSansPro-Semibold.otf'); }
@font-face { font-family: 'Source Sans Pro'; font-weight: 700; src: url('../fonts/SourceSansPro-Bold.otf'); }
@font-face { font-family: 'Source Sans Pro'; font-weight: 900; src: url('../fonts/SourceSansPro-Black.otf'); }

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	letter-spacing: 0.05em;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	color: #000;
	background-color: #fff;
}

.star {
	color: #f30;
	transition: 0.3s all;
}

.full-screen {
	width: 100%;
	display: table;
	background-color: #111;
	color: #fff;
}

.full-screen article {
	border: none;
}

.full-screen h1 {
	margin-top: -0.75em;
}

.full-screen p {
	margin: 0 auto;
	font-weight: 400;
}

.full-screen-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-top: 16em;
	padding-bottom: 16em;
	padding-left: 4em;
	padding-right: 4em;
}

.partial-screen {
	width: 100%;
	background-color: #111;
	color: #fff;
}

.partial-screen .nav a {
	color: #fff;
}

.partial-screen .nav a:hover {
	color: #fff;
}

.partial-screen .nav a.selected {
	color: #fff;
}

.partial-screen-content {
	padding-top: 8em;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 8em;
}

.partial-screen-content h1 {
	font-size: 6em;
}

.gray-background {
	background-color: #f6f6f6;
}

.container {
	margin: auto;
}

header {
	text-align: center;
}

h1 {
	font-weight: 600;
	font-size: 8em;
	margin: 0;
}

h2 {
	font-weight: 400;
	font-size: 3em;
	margin: 0;
	color: #333;
}

h3 {
	font-weight: 400;
	font-size: 2em;
	margin: 0;
	color: #222;
}

h4 {
	font-weight: 400;
	font-size: 1.75em;
	margin: 0;
	color: #111;
}

p {
	text-align: center;
	max-width: 36em;
	margin: 0.5em auto;
}

p.title {
	color: #666;
	margin: 0.5em auto;
}

.nav {
	margin: 2.5em auto;	
}

.full-screen .header .nav {
	margin: 4em auto;
}

.partial-screen .header .nav {
	margin: 0em auto;
}

a {
	color: #f30;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: 0.3s all;
	cursor: pointer;
}

a:hover {
	color: #f60;
	border-bottom: 1px solid #f60;
}

.nav a {
	padding: 0.5em;
	color: #000;
	font-weight: 500;
	border-bottom: 1px solid transparent;
}

.nav a:hover {
	color: #000;	
	border-color: #999;
}

.nav a.selected {
	border: none;
	border-bottom: 1px solid #666;
	color: #000;
}

article {
	text-align: center;
	padding-top: 4em;
	padding-bottom: 4em;
}

section {
	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;
}

.hgroup {
	padding-top: 4em;
	padding-bottom: 4em;
}

.thumbnails {
	width: 70em;
	margin: 2em auto;
	vertical-align: text-top;
}

.thumbnails a {
	display: inline-block;
	vertical-align: top;
	width: 16em;
	padding: 2em;
	margin: 1em;
	border: 0;
	background-color: #fff;
	color: #000;
	transition: 0.3s all;
	box-shadow: 0 0 2em 0 rgba(153, 153, 153, 0.2);
}

.gray-background .thumbnails a {
	border: 0;
}

.thumbnails a:hover {
	border: 0;
}

.gray-background .thumbnails a:hover {
	border: 0;
}

.thumbnails a.screenshot {
	height: 12em;
	background-size: cover;
	background-position: center center;
	opacity: 0.9;
}

.thumbnails a.screenshot:hover {
	opacity: 1;
}

figure.sample-showcase {
	margin: 0;
}

figure.sample-showcase img {
	opacity: 1;
	border: 0;
	box-shadow: 0 0 2em 0 rgba(102, 102, 102, 0.2);
}

figure.sample-showcase figcaption {
	padding: 2em 0 2em 0;
	max-width: 36em;
	margin: auto;
}

.icon {
	width: 2.25em;
}

footer {
	background-color: #111;
	color: #fff;
	padding: 4em;
}

img {
	opacity: 0.5;
}

strong, b {
	font-weight: 600;
}

.button {
	color: #f30;
	padding: 0.5em 1em;
	border: 2px solid #f30;
	line-height: 4;
	font-weight: 600;
	font-size: 1.25em;
	text-align: center;
	transition: 0.3s all;
	border-radius: 3em;
	margin: 2em 0.5em;
}

.button:hover {
	color: #fff;
	background-color: #f30;
}

.button:hover .star {
	color: #fff;
}

@media screen and (max-width: 1280px) {
	body {
		font-size: 19px;
	}

	.thumbnails {
		width: 60em;
	}

	figure.sample-showcase img {
		max-width: calc(100% - 4em);
		margin-left: 0;
	}
}

@media screen and (max-width: 864px) {
	body {
		font-size: 17px;
	}
}

@media screen and (max-width: 822px) {
	body {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 15px;
	}

	.thumbnails {
		width: auto;
		margin: auto;
	}

	.thumbnails a {
		width: 20em;
		max-width: calc(100% - 4em);
		padding: 2em;
		margin: 1em auto;
	}

	.thumbnails img.icon, section img.icon {
		width: 1.25em;
	}

	.container {
		margin: auto;
		padding: 2em;
	}

	h1 {
		font-size: 4em;
	}

	.nav a {
		padding: 0.1em;
	}

	section {
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 0em;
		padding-right: 0em;
	}

	.hgroup {
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 0em;
		padding-right: 0em;
	}

	.partial-screen-content {
		padding-top: 4em;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 4em;
	}

	.full-screen-content {
		padding-top: 4em;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 4em;
	}

	figure.sample-showcase img {
		max-width: 100%;
		margin-left: 0;
		padding: 0;
	}

	footer {
		padding: 4em;
	}
}